.main-1{
  max-width: 500px;
  margin: auto;
  height: 100vh;
  background: #EEEEEE;
  padding-bottom: 26px; 
  }
.main-1 .header{
  background: #337AB7;
  height: 73px;
}
.main-1 .header .fa-folder{
  color: #fff;
  padding-left: 12px;
}
.main-1 .header .fa-buysellads{
  color: #fff;
  padding-left: 12px;
}
.main-1 .header .p{
  color: #fff;
  float: right;
  padding-right: 12px;

}
.main-1 .header .p-2{
  color: #fff;
  float: right;
  margin-top: 36px;
  margin-right: -26px;
  font-size: 18px;
}
.main-1 .header .p-2 .fa-arrow-circle-o-right{
  margin-right: 20px;
}
.main-1 .header .p-3{
  color: #fff;
  margin-top: 14px;
  margin-left: 20px;
  font-size: 18px;
}
.main-1 .header .fa-search{
  padding-right: 20px;
}
.main-1 .header .fa-home{
  font-size: 22px;
}
.main-1 .header .p-3 i{
  font-size: 16px;
    padding-right: 26px;
}


.main{
  float: right;
  margin-right: 20px;
}
.sky i{
  font-size: 20px;
}
.fa-comment{
  color: #337AB7;
  font-size: 50px;
  position: relative;
  
}
.p-1{
  position: absolute;
  margin-top: -36px;
  margin-left: 6px;
  color: #fff;
}
.sky{
  margin-top: 60px;
  margin-left: 12px;
}
.sky span i{
  padding-right: 6px;
}
.sky span{
  font-weight: bold;
}
.id{
  display: flex;
  width: 380px;
  margin-left: 12px;
  margin-top: 12px;
}
.id .fa-phone{
  font-size: 20px;
  padding-right: 12px;
  color: #337AB7;
}
.id u p{
  margin-right: auto;
  color: #337AB7;
}
.id .res{
  float: right;
  margin-left: auto;
  font-weight: bold;
}
.fit{
  height: 200px;
  width: 93%;
  margin-top: 12px;
  background: #FFFFFF;
  margin-left: 18px;
  box-shadow: 6px 6px 3px -3px rgb(0 0 0 / 30%);
  border-radius: 8px;
}
.button{
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 130px;
  float: right;
  margin-right: 12px;

}
.button .btn-1{
  background: #F05050;
  color: #fff;
  font-weight: bold;
  margin-top: 12px;
  margin-top: 30px;
  border-radius: 0;
}
.button .btn-2{
  background: #FFBD4A;
  color: #fff;
  margin-top: 8px;
  border-radius: 0;
}
.button .btn-3{
  background: #F05050;
  color: #fff;margin-top: 8px;
  border-radius: 0;
}
.fit .graph{
  font-size: 18px;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 12px;
}
.fit .graph-2{
  color: gray;
  padding-top: 10px;
  padding-left: 12px;
}
.fit .graph-3{
  color: gray;
  padding-top: 50px;
  padding-left: 12px;
}
.conf{
  background: #D95350;
  color: #fff;
  border:none;
  height: 50px;
  width: 93%;
  margin-left: 19px;
  margin-top: 20px;
}